.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Isso faz com que o contêiner ocupe toda a altura da tela */
}

img {
    max-width: 70%; /* Ajuste o valor conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}